.heroList {
  padding-top: 10px;
}

.heroList__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.heroList__item {
  padding-bottom: 15px;
}

.heroList__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
